{% set claseEnRaya = (pos in celdasEnRaya) ? 'iluminado' : '' %}

{% if (jugador == 1) %}
      <div class="jugador-1 {{ claseEnRaya }}">
        <span class="celda"><i class="fa {{ icoJugador1 }} fa-fw"></i></span>
      </div>
{% elseif (jugador == 2) %}
      <div class="jugador-2 {{ claseEnRaya }}">
        <span class="celda"><i class="fa {{ icoJugador2 }} fa-fw"></i></span>
      </div>
{% else %}
      <div class="libre">
      {% if (jugadorGanador is null) %}
        <a href="{{ path(pathPulsa, {'id': idPartida, 'idCelda': pos}) }}"><span class="celda"><i class="fa {{ icoJugadorActivo }} fa-fw"></i></span></a>
      {% else %}
        <span class="celda"><i class="fa fa-asterisk fa-fw fa-hidden"></i></span>
      {% endif %}
      </div>
{% endif %}