{% extends 'base.html.twig' %}

{# Variables principales #}
{% set jugadorActivo = juego.getJugadorActivo() %}
{% set jugadorGanador = juego.getJugadorGanador() %}
{% set celdas = juego.getCeldas() %}
{% set celdasEnRaya = juego.getCeldasEnRaya() %}

{# Variables principales #}
{% set pathReinicia = contexto ~ '-reinicia' %}
{% set pathPulsa = contexto ~ '-pulsa' %}
{% set idPartida = (idPartida is defined) ? idPartida : '' %}

{# Otros iconos: fa-android fa-apple #}
{% set icoJugador1 = 'fa-circle-o' %}
{% set icoJugador2 = 'fa-times' %}
{% set icoJugadorActivo = (jugadorActivo == 1) ? icoJugador1 : icoJugador2 %}


{% block body %}
    <div class="contenedor-info contenedor-flex-horizontal">
      <div class="jugador-1 alinea-izquierda">
        <i class="fa fa-user-o"></i>
        <i class="fa {{ icoJugador1 }} fa-fw"></i>
      </div>

      <div class="mensaje resaltado">
      {% if (juego.isInicio()) %}
        Comienza <i class="fa {{ icoJugadorActivo }} fa-fw"></i>
      {% elseif (juego.isJuegoTerminado()) %}
        {% if (jugadorGanador is null) %}
          ¡ Empate !
        {% else %}
          ¡ Gana <i class="fa {{ icoJugadorActivo }} fa-fw"></i> !
        {% endif %}
      {% endif %}
      </div>

      <div class="jugador-2 alinea-derecha">
        <i class="fa {{ icoJugador2 }} fa-fw"></i>
        <i class="fa fa-user-o"></i>
      </div>
    </div>

    <div class="tablero">
      {% for jugador in celdas %}
          {{ include('juego/_celda.html.twig', { 'pos': loop.index0 }) }}
      {% endfor %}
    </div>

    <div class="contenedor-reiniciar">
      <a href="{{ path(pathReinicia, {'id': idPartida}) }}" class="animado">Reiniciar partida</a>
    </div>
{% endblock %}