{% extends 'base.html.twig' %}

{% block body %}
    <div class="contenedor-selector">
      <p>Modo de juego:</p>

      <ul>
        <li><a href="{{ path('sesion-inicio') }}" class="animado">Sesión</a></li>
        <li><a href="{{ path('bd-inicio') }}" class="animado">Base de datos</a></li>
      </ul>
    </div>
{% endblock %}