$border-radius-base: 4px !default;

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-mono: monospace !default;

$text-xs: 8px !default;
$text-sm: 11px !default;
$text-md: 13px !default;
$text-lg: 15px !default;
$text-hg: 22px !default;


/* ==========================================================================
   Base
   ========================================================================== */

// Quita las unidades a una variable Sass
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}


.clear {
  clear: both;
}

.no-scroll, scroll-no {
  overflow: hidden !important;
}

/* Quita los espacios entre elementos HTML. Ej si ponemos un grupo de <img> dentro de un <td> */
.no-spaces {
  font-size: 0;
}

.border-box {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


// Alineación (clases para el contenedor)
// --------------------------------------
.centrado-horizontal {
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}

.centrado-vertical {
  // El contenedor debe tener width y height
  display: flex;
  align-items: center;
  justify-content: center;
}

.centrado-vertical-horizontal {
  @extend .centrado-vertical;
  justify-content: center;
}

.align-top, .celda-arriba-vertical {
  vertical-align: top !important;
}

.align-middle, .celda-centro-vertical {
  vertical-align: middle !important;
}

.align-bottom, .celda-abajo-vertical {
  vertical-align: bottom !important;
}

.align-baseline, .celda-baseline {
  vertical-align: baseline !important;
}


// Posicionamiento absoluto
// ------------------------
.abs-tl {
  position: absolute;
  top: 0;
  left: 0;
}

.abs-tr {
  position: absolute;
  top: 0;
  right: 0;
}

.abs-bl {
  position: absolute;
  bottom: 0;
  left: 0;
}

.abs-br {
  position: absolute;
  bottom: 0;
  right: 0;
}


// Margins
// --------------------
@mixin ags-margin($valor) {
  .m-#{strip-units($valor)} { margin: $valor !important; }
  .ml-#{strip-units($valor)} { margin-left: $valor !important; }
  .mr-#{strip-units($valor)} { margin-right: $valor !important; }
  .mt-#{strip-units($valor)} { margin-top: $valor !important; }
  .mb-#{strip-units($valor)} { margin-bottom: $valor !important; }
  .mv-#{strip-units($valor)} { @extend .mt-#{strip-units($valor)}; @extend .mb-#{strip-units($valor)}; }
  .mh-#{strip-units($valor)} { @extend .ml-#{strip-units($valor)}; @extend .mr-#{strip-units($valor)}; }
}

@include ags-margin(0px);
@include ags-margin(5px);
@include ags-margin(10px);
@include ags-margin(15px);
@include ags-margin(20px);
@include ags-margin(30px);
@include ags-margin(40px);


// Paddings
// --------------------
@mixin ags-padding($valor) {
  .p-#{strip-units($valor)} { padding: $valor !important; }
  .pl-#{strip-units($valor)} { padding-left: $valor !important; }
  .pr-#{strip-units($valor)} { padding-right: $valor !important; }
  .pt-#{strip-units($valor)} { padding-top: $valor !important; }
  .pb-#{strip-units($valor)} { padding-bottom: $valor !important; }
  .pv-#{strip-units($valor)} { @extend .pt-#{strip-units($valor)}; @extend .pb-#{strip-units($valor)}; }
  .ph-#{strip-units($valor)} { @extend .pl-#{strip-units($valor)}; @extend .pr-#{strip-units($valor)}; }
}

@include ags-padding(0px);
@include ags-padding(5px);
@include ags-padding(10px);
@include ags-padding(15px);
@include ags-padding(20px);
@include ags-padding(30px);
@include ags-padding(40px);


// Border
// --------------------
@mixin ags-border($valor) {
  .b-#{strip-units($valor)} { border-width: $valor !important; }
  .bl-#{strip-units($valor)} { border-left-width: $valor !important; }
  .br-#{strip-units($valor)} { border-right-width: $valor !important; }
  .bt-#{strip-units($valor)} { border-top-width: $valor !important; }
  .bb-#{strip-units($valor)} { border-bottom-width: $valor !important; }
  .bv-#{strip-units($valor)} { @extend .bt-#{strip-units($valor)}; @extend .bb-#{strip-units($valor)}; }
  .bh-#{strip-units($valor)} { @extend .bl-#{strip-units($valor)}; @extend .br-#{strip-units($valor)}; }
}

@include ags-border(0px);
@include ags-border(1px);

.radius-no {
  border-radius: 0 !important;
}

.circulo {
  border-radius: 50% !important;
}

.redondeado {
  border-radius: $border-radius-base !important;
}


// Box Shadow
// --------------------
.shadow-no {
  box-shadow: 0 0 0 #000 !important;
}


// Texto
// --------------------
.text-family-normal { font-family: $font-family !important; }
.text-family-mono, .mono { font-family: $font-family-mono !important; }

.text-xs { font-size: $text-xs !important; }
.text-sm { font-size: $text-sm !important; }
.text-md { font-size: $text-md !important; }
.text-lg { font-size: $text-lg !important; }
.text-hg { font-size: $text-hg !important; }

// En bootstrap tenemos: text-left, text-center y text-right
// pero las imponemos con !important
.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }
.text-justify, .justificado { text-align: justify !important; }

.text-bold, .negrita { font-weight: bold !important; }
.text-italic, .cursiva { font-style: italic !important; }
.text-underline, .subrayado { text-decoration: underline !important; }
.text-normal {
  font-weight: normal !important;
  font-style: normal !important;
}
.text-super {
  font-size: $text-xs;
  vertical-align: super;
}

.text-pre {
  word-break: keep-all; /* break-all; */
  word-wrap: break-word;
  white-space: pre-wrap;
}

.text-nowrap, .wrap-no, .no-wrap { white-space: nowrap !important; }

.text-ellipsis,
.text-oneline {
  text-overflow: ellipsis;
  white-space: nowrap;
/*  padding: 0 .2em; */
  overflow: hidden;
/*  vertical-align: bottom; */
}

/* Al ponerte encima del texto se expande mostrándolo completo */
.text-ellipsis-hover {
  @extend .text-ellipsis;

  &:hover {
    text-overflow: inherit;
    overflow: visible;
  }
}


// Para un <h1> con texto en el que queremos poner el logo de la web. O en un
// hueco de iconos y no queremos que los espacios en blanco o saltos de línea en
// el código afecten a su visionado
.text-hide {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}


// Display
// --------------------
.display-inline { display: inline !important; }
.display-inline-block { display: inline-block !important; }
.display-block { display: block !important; }
.display-no, .no-display,  { display: none !important; }


// Visibility
// --------------------
.visibility-hidden { visibility: hidden !important; }
.visibility-visible { visibility: visible !important; }


// Imágenes
// --------------------
@mixin ags-ico($sz)
{
  font-size: $sz !important;
  width: $sz !important;
  height: $sz !important;
  line-height: $sz !important;
}

.ico-8   { @include ags-ico(8px); }
.ico-16  { @include ags-ico(16px); }
.ico-24  { @include ags-ico(24px); }
.ico-32  { @include ags-ico(32px); }
.ico-40  { @include ags-ico(40px); }
.ico-48  { @include ags-ico(48px); }
.ico-64  { @include ags-ico(64px); }
.ico-80  { @include ags-ico(80px); }
.ico-96  { @include ags-ico(96px); }
.ico-104 { @include ags-ico(104px); }
.ico-128 { @include ags-ico(128px); }


// Capa superior
// --------------------
#over-all {
  z-index: 99999;
  position: fixed;
  width: auto;
  height: auto;
  display: block;
  background: rgba(0, 200, 0, 0.5);
  overflow: auto;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}