
/* ==========================================================================
   Enlaces (subrayado animado)
   ========================================================================== */

/* --------------------------------------------------------------------------
   Uso:

    a.animado {
      @include ags-subrayado-animado($color-text, $color-text, $color-text, $color-text);
    }

   -------------------------------------------------------------------------- */

:after, :before {
  box-sizing: border-box;
}

@mixin ags-subrayado-animado($color-texto, $color-subrayado, $color-texto-hover, $color-subrayado-hover) {

  position: relative;
  background-color: transparent;
  color: $color-texto;
  text-decoration: none;
  border-bottom: 1px dotted $color-subrayado;
  -webkit-transition: border .3s ease, background .3s ease, color .3s ease;
  -moz-transition: border .3s ease,background .3s ease,color .3s ease;
  -o-transition: border .3s ease,background .3s ease,color .3s ease;
  transition: border .3s ease, background .3s ease, color .3s ease;

  &:active, &:hover {
    outline: 0;
  }
  &:focus, &:hover {
    color: $color-texto-hover;
    text-decoration: none;
  }

  &:hover:after {
    width: 100%;
  }
  &:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background: $color-subrayado-hover;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  &:after {
    content: "";
  }

}
