
/* ==========================================================================
   Flex
   ========================================================================== */

.contenedor-flex-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;

  & > * {
    width: 100%;

    /* Sólo uno de los elementos debe tener esta clase */
    &.alinea-arriba {
      margin-bottom: auto;
    }

    /* Sólo uno de los elementos debe tener esta clase */
    &.alinea-abajo {
      margin-top: auto;
    }
  }
}


.contenedor-flex-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;

  & > * {
    height: 100%;

    /* Sólo uno de los elementos debe tener esta clase */
    &.alinea-derecha {
      margin-left: auto;
    }

    /* Sólo uno de los elementos debe tener esta clase */
    &.alinea-izquierda {
      margin-right: auto;
    }
  }
}