@charset "UTF-8";
/* ==========================================================================
   Base
   ========================================================================== */
.clear {
  clear: both;
}

.no-scroll, scroll-no {
  overflow: hidden !important;
}

/* Quita los espacios entre elementos HTML. Ej si ponemos un grupo de <img> dentro de un <td> */
.no-spaces {
  font-size: 0;
}

.border-box {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.centrado-horizontal {
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}

.centrado-vertical, .centrado-vertical-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centrado-vertical-horizontal {
  justify-content: center;
}

.align-top, .celda-arriba-vertical {
  vertical-align: top !important;
}

.align-middle, .celda-centro-vertical {
  vertical-align: middle !important;
}

.align-bottom, .celda-abajo-vertical {
  vertical-align: bottom !important;
}

.align-baseline, .celda-baseline {
  vertical-align: baseline !important;
}

.abs-tl {
  position: absolute;
  top: 0;
  left: 0;
}

.abs-tr {
  position: absolute;
  top: 0;
  right: 0;
}

.abs-bl {
  position: absolute;
  bottom: 0;
  left: 0;
}

.abs-br {
  position: absolute;
  bottom: 0;
  right: 0;
}

.m-0 {
  margin: 0px !important;
}

.ml-0, .mh-0 {
  margin-left: 0px !important;
}

.mr-0, .mh-0 {
  margin-right: 0px !important;
}

.mt-0, .mv-0 {
  margin-top: 0px !important;
}

.mb-0, .mv-0 {
  margin-bottom: 0px !important;
}

.m-5 {
  margin: 5px !important;
}

.ml-5, .mh-5 {
  margin-left: 5px !important;
}

.mr-5, .mh-5 {
  margin-right: 5px !important;
}

.mt-5, .mv-5 {
  margin-top: 5px !important;
}

.mb-5, .mv-5 {
  margin-bottom: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.ml-10, .mh-10 {
  margin-left: 10px !important;
}

.mr-10, .mh-10 {
  margin-right: 10px !important;
}

.mt-10, .mv-10 {
  margin-top: 10px !important;
}

.mb-10, .mv-10 {
  margin-bottom: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.ml-15, .mh-15 {
  margin-left: 15px !important;
}

.mr-15, .mh-15 {
  margin-right: 15px !important;
}

.mt-15, .mv-15 {
  margin-top: 15px !important;
}

.mb-15, .mv-15 {
  margin-bottom: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.ml-20, .mh-20 {
  margin-left: 20px !important;
}

.mr-20, .mh-20 {
  margin-right: 20px !important;
}

.mt-20, .mv-20 {
  margin-top: 20px !important;
}

.mb-20, .mv-20 {
  margin-bottom: 20px !important;
}

.m-30 {
  margin: 30px !important;
}

.ml-30, .mh-30 {
  margin-left: 30px !important;
}

.mr-30, .mh-30 {
  margin-right: 30px !important;
}

.mt-30, .mv-30 {
  margin-top: 30px !important;
}

.mb-30, .mv-30 {
  margin-bottom: 30px !important;
}

.m-40 {
  margin: 40px !important;
}

.ml-40, .mh-40 {
  margin-left: 40px !important;
}

.mr-40, .mh-40 {
  margin-right: 40px !important;
}

.mt-40, .mv-40 {
  margin-top: 40px !important;
}

.mb-40, .mv-40 {
  margin-bottom: 40px !important;
}

.p-0 {
  padding: 0px !important;
}

.pl-0, .ph-0 {
  padding-left: 0px !important;
}

.pr-0, .ph-0 {
  padding-right: 0px !important;
}

.pt-0, .pv-0 {
  padding-top: 0px !important;
}

.pb-0, .pv-0 {
  padding-bottom: 0px !important;
}

.p-5 {
  padding: 5px !important;
}

.pl-5, .ph-5 {
  padding-left: 5px !important;
}

.pr-5, .ph-5 {
  padding-right: 5px !important;
}

.pt-5, .pv-5 {
  padding-top: 5px !important;
}

.pb-5, .pv-5 {
  padding-bottom: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.pl-10, .ph-10 {
  padding-left: 10px !important;
}

.pr-10, .ph-10 {
  padding-right: 10px !important;
}

.pt-10, .pv-10 {
  padding-top: 10px !important;
}

.pb-10, .pv-10 {
  padding-bottom: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.pl-15, .ph-15 {
  padding-left: 15px !important;
}

.pr-15, .ph-15 {
  padding-right: 15px !important;
}

.pt-15, .pv-15 {
  padding-top: 15px !important;
}

.pb-15, .pv-15 {
  padding-bottom: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.pl-20, .ph-20 {
  padding-left: 20px !important;
}

.pr-20, .ph-20 {
  padding-right: 20px !important;
}

.pt-20, .pv-20 {
  padding-top: 20px !important;
}

.pb-20, .pv-20 {
  padding-bottom: 20px !important;
}

.p-30 {
  padding: 30px !important;
}

.pl-30, .ph-30 {
  padding-left: 30px !important;
}

.pr-30, .ph-30 {
  padding-right: 30px !important;
}

.pt-30, .pv-30 {
  padding-top: 30px !important;
}

.pb-30, .pv-30 {
  padding-bottom: 30px !important;
}

.p-40 {
  padding: 40px !important;
}

.pl-40, .ph-40 {
  padding-left: 40px !important;
}

.pr-40, .ph-40 {
  padding-right: 40px !important;
}

.pt-40, .pv-40 {
  padding-top: 40px !important;
}

.pb-40, .pv-40 {
  padding-bottom: 40px !important;
}

.b-0 {
  border-width: 0px !important;
}

.bl-0, .bh-0 {
  border-left-width: 0px !important;
}

.br-0, .bh-0 {
  border-right-width: 0px !important;
}

.bt-0, .bv-0 {
  border-top-width: 0px !important;
}

.bb-0, .bv-0 {
  border-bottom-width: 0px !important;
}

.b-1 {
  border-width: 1px !important;
}

.bl-1, .bh-1 {
  border-left-width: 1px !important;
}

.br-1, .bh-1 {
  border-right-width: 1px !important;
}

.bt-1, .bv-1 {
  border-top-width: 1px !important;
}

.bb-1, .bv-1 {
  border-bottom-width: 1px !important;
}

.radius-no {
  border-radius: 0 !important;
}

.circulo {
  border-radius: 50% !important;
}

.redondeado {
  border-radius: 4px !important;
}

.shadow-no {
  box-shadow: 0 0 0 #000 !important;
}

.text-family-normal {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

.text-family-mono, .mono {
  font-family: monospace !important;
}

.text-xs {
  font-size: 8px !important;
}

.text-sm {
  font-size: 11px !important;
}

.text-md {
  font-size: 13px !important;
}

.text-lg {
  font-size: 15px !important;
}

.text-hg {
  font-size: 22px !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify, .justificado {
  text-align: justify !important;
}

.text-bold, .negrita {
  font-weight: bold !important;
}

.text-italic, .cursiva {
  font-style: italic !important;
}

.text-underline, .subrayado {
  text-decoration: underline !important;
}

.text-normal {
  font-weight: normal !important;
  font-style: normal !important;
}

.text-super {
  font-size: 8px;
  vertical-align: super;
}

.text-pre {
  word-break: keep-all;
  /* break-all; */
  word-wrap: break-word;
  white-space: pre-wrap;
}

.text-nowrap, .wrap-no, .no-wrap {
  white-space: nowrap !important;
}

.text-ellipsis, .text-ellipsis-hover,
.text-oneline {
  text-overflow: ellipsis;
  white-space: nowrap;
  /*  padding: 0 .2em; */
  overflow: hidden;
  /*  vertical-align: bottom; */
}

/* Al ponerte encima del texto se expande mostr├índolo completo */
.text-ellipsis-hover:hover {
  text-overflow: inherit;
  overflow: visible;
}

.text-hide {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

.display-inline {
  display: inline !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-block {
  display: block !important;
}

.display-no, .no-display {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.visibility-visible {
  visibility: visible !important;
}

.ico-8 {
  font-size: 8px !important;
  width: 8px !important;
  height: 8px !important;
  line-height: 8px !important;
}

.ico-16 {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
}

.ico-24 {
  font-size: 24px !important;
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
}

.ico-32 {
  font-size: 32px !important;
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
}

.ico-40 {
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
}

.ico-48 {
  font-size: 48px !important;
  width: 48px !important;
  height: 48px !important;
  line-height: 48px !important;
}

.ico-64 {
  font-size: 64px !important;
  width: 64px !important;
  height: 64px !important;
  line-height: 64px !important;
}

.ico-80 {
  font-size: 80px !important;
  width: 80px !important;
  height: 80px !important;
  line-height: 80px !important;
}

.ico-96 {
  font-size: 96px !important;
  width: 96px !important;
  height: 96px !important;
  line-height: 96px !important;
}

.ico-104 {
  font-size: 104px !important;
  width: 104px !important;
  height: 104px !important;
  line-height: 104px !important;
}

.ico-128 {
  font-size: 128px !important;
  width: 128px !important;
  height: 128px !important;
  line-height: 128px !important;
}

#over-all {
  z-index: 99999;
  position: fixed;
  width: auto;
  height: auto;
  display: block;
  background: rgba(0, 200, 0, 0.5);
  overflow: auto;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* ==========================================================================
   Enlaces (subrayado animado)
   ========================================================================== */
/* --------------------------------------------------------------------------
   Uso:

    a.animado {
      @include ags-subrayado-animado($color-text, $color-text, $color-text, $color-text);
    }

   -------------------------------------------------------------------------- */
:after, :before {
  box-sizing: border-box;
}

/* ==========================================================================
   Flex
   ========================================================================== */
.contenedor-flex-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}
.contenedor-flex-vertical > * {
  width: 100%;
  /* S├│lo uno de los elementos debe tener esta clase */
  /* S├│lo uno de los elementos debe tener esta clase */
}
.contenedor-flex-vertical > *.alinea-arriba {
  margin-bottom: auto;
}
.contenedor-flex-vertical > *.alinea-abajo {
  margin-top: auto;
}

.contenedor-flex-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
.contenedor-flex-horizontal > * {
  height: 100%;
  /* S├│lo uno de los elementos debe tener esta clase */
  /* S├│lo uno de los elementos debe tener esta clase */
}
.contenedor-flex-horizontal > *.alinea-derecha {
  margin-left: auto;
}
.contenedor-flex-horizontal > *.alinea-izquierda {
  margin-right: auto;
}

/* ==========================================================================
   Base
   ========================================================================== */
body {
  margin: 0;
  padding: 20px 20px 30px 20px;
  background-color: #1b1b1b;
  color: #cfcfd0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
}

h1 {
  margin-top: 18px;
  margin-bottom: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #cfcfd0;
  font-size: 24px;
}

h1 + hr {
  margin-bottom: 40px;
}

p {
  text-align: justify;
}

.contenedor-principal {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 300px;
}

.contenedor-selector li {
  margin-bottom: 20px;
}

.contenedor-info {
  margin: 0 5px 20px 5px;
}
.contenedor-info .jugador-1 {
  text-align: left;
  color: #ff9626;
}
.contenedor-info .mensaje {
  text-align: center;
}
.contenedor-info .mensaje.resaltado {
  color: #fff;
}
.contenedor-info .jugador-2 {
  text-align: right;
  color: #11a3ed;
}

.contenedor-reiniciar {
  margin: 20px 5px 20px 5px;
  text-align: center;
}

a.animado {
  position: relative;
  background-color: transparent;
  color: #cfcfd0;
  text-decoration: none;
  border-bottom: 1px dotted #cfcfd0;
  -webkit-transition: border .3s ease, background .3s ease, color .3s ease;
  -moz-transition: border .3s ease,background .3s ease,color .3s ease;
  -o-transition: border .3s ease,background .3s ease,color .3s ease;
  transition: border .3s ease, background .3s ease, color .3s ease;
}
a.animado:active, a.animado:hover {
  outline: 0;
}
a.animado:focus, a.animado:hover {
  color: #cfcfd0;
  text-decoration: none;
}
a.animado:hover:after {
  width: 100%;
}
a.animado:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  background: #cfcfd0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
a.animado:after {
  content: "";
}

/* ==========================================================================
   Tablero
   ========================================================================== */
.tablero {
  padding: 0;
  width: 300px;
  height: 300px;
  font-size: 0;
}
.tablero > div {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  width: 100px;
  height: 100px;
  font-size: 15px;
}

.celda {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 4px solid #000;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5), 0 -1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(255, 255, 255, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.5);
  /* Arriba interior */
  /* Icono */
}
.celda i {
  font-size: 40px;
  padding-top: 20px;
}
.celda i.fa-hidden {
  visibility: hidden;
}

.libre a,
.libre a:link,
.libre a:visited,
.libre a:active {
  text-decoration: none;
  color: #1b1b1b;
  -webkit-transition: color 0.4s ease-in;
  -moz-transition: color 0.4s ease-in;
  -o-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}

.libre a:hover,
.libre a:focus {
  outline: none;
  color: #cfcfd0;
}

.jugador-1 .celda {
  color: #ff9626;
}

.jugador-2 .celda {
  color: #11a3ed;
}

.jugador-1.iluminado .celda {
  border-color: #ff9626;
}

.jugador-2.iluminado .celda {
  border-color: #11a3ed;
}

/*# sourceMappingURL=3en-.css.map */
