
/* ==========================================================================
   Base
   ========================================================================== */

body {
  margin: 0;
  padding: 20px 20px 30px 20px;
  background-color: $color-background;
  color: $color-text;
  font-family: $font-family;
  font-size: $font-md;
}


// Texto
// --------------------
h1 {
  margin-top: 18px;
  margin-bottom: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $color-text;
  font-size: $font-hg;
}
h1 + hr {
  margin-bottom: 40px;
}

p {
  text-align: justify;
}


// Contenedores
// --------------------
.contenedor-principal {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: $width-container;
}

.contenedor-selector {
  li {
    margin-bottom: 20px;
  }
}

.contenedor-info {
  margin: 0 5px 20px 5px;

  .jugador-1 {
    text-align: left;
    color: $color-player-1;
  }

  .mensaje {
    text-align: center;

    &.resaltado {
      color: $color-text-highlighted;
    }
  }

  .jugador-2 {
    text-align: right;
    color: $color-player-2;
  }
}

.contenedor-reiniciar {
  margin: 20px 5px 20px 5px;
  text-align: center;
}


a.animado {
  @include ags-subrayado-animado($color-text, $color-text, $color-text, $color-text);
}
