
/* ==========================================================================
   Tablero
   ========================================================================== */

// Relieve para botones usado con fondo oscuro
@mixin border-dark-relief() {
  border: 4px solid #000;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(255,255,255,0.5),        /* Abajo externo */
              0 -1px 1px rgba(255,255,255,0.3),       /* Arriba externo */
              inset 0 -1px 1px rgba(255,255,255,0.3), /* Abajo interior */
              inset 0 1px 1px rgba(255,255,255,0.5);  /* Arriba interior */
}


.tablero {
  padding: 0;
  width: $width-container;
  height: $width-container;
  font-size: 0;

  & > div {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    width: round($width-container / 3);
    height: round($width-container / 3);
    font-size: 15px;
  }
}

.celda {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  @include border-dark-relief;

  /* Icono */
  & i {
    font-size: 40px;
    padding-top: 20px;

    &.fa-hidden {
      visibility: hidden;
    }
  }
}


.libre a,
.libre a:link,
.libre a:visited,
.libre a:active {
  text-decoration: none;
  color: $color-background;
  -webkit-transition: color 0.4s ease-in;
  -moz-transition: color 0.4s ease-in;
  -o-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}

.libre a:hover,
.libre a:focus {
  outline: none;
  color: $color-text;
}


.jugador-1 .celda {
  color: $color-player-1;
}
.jugador-2 .celda {
  color: $color-player-2;
}

.jugador-1.iluminado .celda {
  border-color: $color-player-1;
}
.jugador-2.iluminado .celda {
  border-color: $color-player-2;
}
