//
// Variables
// --------------------------------------------------

$font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

$font-size-base: 17px;
$font-xs: round($font-size-base * .6);
$font-sm: round($font-size-base * .8);
$font-md: $font-size-base * 1;
$font-lg: round($font-size-base * 1.2);
$font-hg: round($font-size-base * 1.4);

$color-background: #1b1b1b;
$color-text: #cfcfd0;
$color-text-highlighted: #fff;

$color-text-link: $color-text;
$color-text-link-visited: $color-text;
$color-text-link-hover: $color-text;

$color-player-1: #ff9626;
$color-player-2: #11a3ed;

$width-container: 300px;
